{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
            integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
            crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block title %}
    Edit page
{% endblock title %}

{% block content %}
    <div id="app">
        <div class="container">
            <div class="title">
                <h1>42 Coffee Cups Test Assignment</h1>
                <a href="{% url 'hello:index' %}">Main page</a>
            </div>
            <div v-if="success" id="success" class="alert alert-primary" role="alert">
                Congratulations. Form saved
            </div>
            <div v-if="errors.length" id="fail" class="alert alert-danger" role="alert">
                <p>Oops. Form not saved, please fix those errors:</p>
                <ul>
                    <li v-for="error in errors">[[ `${error.field} - ${error.error}` ]]</li>
                </ul>
            </div>
            <div v-if="fieldsDisable" id="success" class="alert alert-warning" role="alert">
                <p>Loading....</p>
            </div>

            <form id="edit_form" method="post" v-on:submit="processForm">
                {% csrf_token %}
                <div style="margin-top: 15px" class="row">
                    <div class="col-sm">
                        <h4>Personal info:</h4>
                        {{ form.name.label }}<br>
                        {{ form.name }}<br>
                        {{ form.last_name.label }}<br>
                        {{ form.last_name }}<br>
                        {{ form.birthday_date.label }}<br>
                        {{ form.birthday_date }}<br>
                    </div>

                    <div class="col-sm">
                        <h4>Contacts:</h4>
                        {{ form.email.label }}<br>
                        {{ form.email }}<br>
                        {{ form.jabber.label }}<br>
                        {{ form.jabber }}<br>
                        {{ form.skype.label }}<br>
                        {{ form.skype }}<br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        {% if profile.profile_photo %}
                            <p>Photo:</p>
                            <img id="preview_img" src="{{ profile.profile_photo.url }}" alt="Image">
                        {% endif %}
                    </div>

                    <div class="col-sm">
                        <div>
                            {{ form.other_contacts.label }}<br>
                            {{ form.other_contacts }}<br>
                        </div>

                        <div>
                            {{ form.bio.label }}<br>
                            {{ form.bio }}<br>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 10px">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset">Reset to default</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'hello/js/vue_edit.js' %}"></script>
{% endblock content %}
