{% extends 'base.html' %}
{% load static %}
{% load admin_link_tag %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
{% endblock extra_head %}

{% block content %}
<div class="container">
    <div class="title">
        <h1 class="title">42 Coffee Cups Test Assignment</h1>
        <a href="{% url 'hello:edit' %}">Edit</a>
        <a href="{% edit_link profile %}">(admin)</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
        {% endif %}

    </div>
    <div class="row">


        <div class="col-sm">
            <p>Name:</p>
            <p>{{ profile.name }}</p>
            <p>Last name:</p>
            <p>{{ profile.last_name }}</p>
            <p>Birthday:</p>
            <p>{{ profile.birthday_date }}</p>
        </div>

        <div class="col-sm">
            <p>Contacts</p>
            <p>Email: {{ profile.email }}</p>
            <p>Jabber: {{ profile.jabber }}</p>
            <p>Skype: {{ profile.skype }}</p>
        </div>


    </div>

    <div class="row">


        <div class="col-sm">
            {% if profile.profile_photo %}
            <p>Photo:</p>
            <img src="media/{{ profile.profile_photo }}">
            {% endif %}
        </div>

        <div class="col-sm">
            <div>
                <p>Other contacts:</p>
                <p>Telegram: {{ profile.telegram }}</p>
            </div>
            <div>
                <p>Bio:</p>
                <p class="bio">{{ profile.bio }}</p>
            </div>
        </div>


    </div>
    <hr>
    <div>
        <a href="{% url 'requests:last_requests' %}">Requests</a>
    </div>
</div>
{% endblock content %}