{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock extra_head %}

{% block title %} Requests {% endblock title %}

{% block content %}
    <div clas="container">
		<div class="title">
			<h1>Requests</h1>
            <p hidden class="latest_req">{{ latest_request_id }}</p>
		</div>
		<div class="row">
			<div class="col-sm">
                {% for req in requests %}
				<div class="card">
				  <div class="card-header">
				    Method: {{ req.method }}
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">URL: {{ req.url }}</h5>
				    <p class="card-text">
				    	content_type: {{ req.content_type }},
                        user: {{ req.user }}, encoding: {{ req.encoding }}
				    </p>
				    <p class="timestamp">Timestamp: {{ req.timestamp }}</p>
				  </div>
				</div>
                {% endfor %}
			</div>
		</div>
	</div>
    <script src="{% static 'requests/js/strftime.js' %}"></script>
    <script src="{% static 'requests/js/requests.js' %}"></script>
{% endblock content %}